{%extends 'base.html'%}
{%block title%}Home{%endblock title%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{background-color: rgb(15, 15, 15);}
        h1{color: rgb(134, 100, 61);text-align: center;}
        h3{color: rgb(112, 111, 111);text-align: center;}
        p{color: rgb(223, 199, 199);}
        .a{height: 350px;background-color: rgb(15, 10, 4);margin-top: 20px;}
        .b{width: 500px;background-color: rgb(12, 11, 9);margin-left: 350px;}
    
    </style>
</head>
<body>
    <div class="a">
   <h1>Welcome to movie times</h1> 
   <div class="b">
   <h3>Find your Favourite movies from here to watch</h3>
   <p>
    Latest  Movies: Interested in knowing the whereabouts on the latest movies? Want to have an eye on your favourite  stars, their latest films, release dates, showtimes? And don’t want to miss any of the updates? You have reached the right place! Get all the latest celebrity news, movie update, trailer, songs from the world of Movie here. The  movie listing will help you stay updated about the latest films running in the theatres. Check out the list of the latest  movies.
   </p>
   </div>
</div>
</body>
</html>
{%endblock content%}