{%extends 'base.html'%}
 <h2>Login</h2>
{%block content%}
<style>
    body{background-color: black;}
h1{text-align: center;color: rgb(162, 243, 162);}
.container{width: 400px;text-align: center;margin-left: 380px; border: 1px solid white;}
button{background-color: black;color: aliceblue; margin-bottom: 2px;}
</style>
<div class="container bg-black mt-4 text-light rounded">
     <h1>Login</h1>
        <form method="POST" action="{%url 'user_login'%}">
            {% csrf_token%}
            {{form.as_p}}
            <button type="submit">Login</button>
        </form>
        
    </div>
</div>
{%endblock content%}
