{%extends 'base.html'%}
{%block title%}Register{%endblock title%}
{%block content%}
<style>
    body{background-color: black;}
    h1{text-align: center;color: rgb(148, 231, 204);}
    button{background-color: black;color: antiquewhite;margin-left: 200px;}
    .container{border: 1px solid white;}
</style>
<div class="container w-50 bg-black text-light mt-4 rounded-2">
    <h1>Register </h1>
    <form method="POST" action="{%url 'user_register'%}">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit">Register</button>
    </form>
   
</div>
{%endblock content%} 